/* ==========================================================================
   Header Styles - PŘIHLÁŠEN
   ========================================================================== */
.detail-img {
	background: white;
	display: block;
	float: left;
	width: 210px;
	height: 150px;
	margin: 0px 30px 20px 0px;
	
	box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1);
	-webkit-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1);
	-moz-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1);
	-o-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1);
	-ms-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1);
}
.detail-info {
	font-family: 'Open Sans';
	padding: 20px 0px 0px 0px;
}
	.detail-info h3 {
		font-size: 16px;
		font-weight: 300;
		color: rgb(119,119,119);
		/*color: white;
		background: rgb(247, 148, 29);
		padding: 5px;
		display: inline-block;*/
	}
	.detail-info h3 > span {
		font-size: 18px;
		font-weight: 700;
	}
	.detail-info span.warehouse { font-size: 14px; font-weight: 300; float: right; }
	.detail-info span.warehouse > span { font-size: 15px; font-weight: 600; }
	.detail-info table { width: 430px; text-align: center; margin: 20px 0; }
	.detail-info table td, .detail-info table th { padding: 5px; }
	.detail-info table thead {  color: white; background: rgb(247, 148, 29); }
	.detail-info table th { font-weight: 600;  }
	.detail-info tr { border-bottom: 1px solid rgb(229, 229, 229); } .detail-info tr:last-child { border: none; }
	.detail-info tfoot { background: rgba(119, 119, 119, 0.4); color: white; font-weight: 600; }
	
	.detail-info p {
		font-family: 'Arial', sans-serif;
		text-align: justify;
		margin-bottom: 20px;
	}
		.detail-info p:last-child {
			margin: 0;
		}
	
	.add-to {
		display: block;
		float: left;
		width: 210px;
		margin: 0 30px 0px 0;
	}
		.add-to h3 {
			border-bottom: 1px solid rgba(102, 102, 102, 0.1);
			padding-bottom: 5px;
			padding-top: 5px;
			margin-bottom: 15px;
		}
		.add-to label {
			display: block;
			font-weight: 600;
			padding-bottom: 5px;
		}
		.add-to input[type="date"], .add-to input[type="number"] {
			font-family: 'Open Sans';
			font-weight: 300;
			font-size: 14px;
			color: rgb(153, 153, 153);
				
			padding: 5px;
			width: 200px;
			margin-bottom: 10px;
			background: white;
			border: 1px solid rgba(153, 153, 153, .4);
			outline: none;
		}
		.add-to button {
			background: rgba(119, 119, 119, .4);
			margin-top: 5px;
			padding: 8px 10px;
			border: none;
			font-weight: 300;
			font-size: 14px;
			display: block;
			color: rgb(255, 255, 255);
		}
			.add-to button:hover {
				background: rgb(247, 148, 29);
			}
	.tab-wrapper ul.tabs {
		list-style-type: none;
		display: inline-block;
		border-bottom: 1px solid rgba(102, 102, 102, 0.1);
		margin-bottom: 12px;
	}
		.tab-wrapper ul.tabs li {
			float: left;
			font-size: 16px;
			font-weight: 300;
			width: 143px;
			text-align: center;
		}
		.tab-wrapper ul.tabs li a {
			padding: 5px 5px 5px 5px;
			display: block;
			text-decoration: none;
			color: rgb(119,119,119);
		}
		.tab-wrapper ul.tabs li a.active {
			/*background: rgb(247, 148, 29);*/ background: rgba(119, 119, 119, .4);
			color: white;
		}
	ul.list-items, .article ul {
		border: none;
		font-family: Arial;
		list-style-type: none;
	}
		ul.list-items li, .article ul li {
			font-size: 13px;
			line-height: 19px;
		}
		ul.list-items li:before, .article ul li:before {
			font-family: 'icomoon';
			content: "\e6c9";
			color: rgba(102, 102, 102, 0.3);
			padding-right: 5px;
			font-size: 10px;
		}
		
		ul.list-items.download li:before {
			font-family: 'icomoon';
			content: "\e660";
			color: rgba(102, 102, 102, 0.3);
			padding-right: 5px;
			font-size: 15px;
			vertical-align: middle;
		}
		ul.list-items.download li a { color:rgb(153, 153, 153); text-decoration: none; }
		ul.list-items.download li a:hover { color: rgb(119, 119, 119); text-decoration: underline; }