/* ==========================================================================
   Header Styles - PŘIHLÁŠEN
   ========================================================================== */
.detail-img {
	background: white;
	display: block;
	float: left;
	width: 210px;
	height: 150px;
	margin: 0px 20px 20px 0px;
}
.detail-info {
	font-family: 'Open Sans';
	padding: 20px 0px 0px 0px;
}
	.detail-info h3 {
		font-size: 16px;
		font-weight: 300;
		/*color: white;
		background: rgb(247, 148, 29);
		padding: 5px;
		display: inline-block;*/
	}
	.detail-info h3 > span {
		font-size: 18px;
		font-weight: 700;
	}
	.detail-info table { width: 440px; text-align: center; margin: 20px 0; }
	.detail-info table td, .detail-info table th { padding: 5px; }
	.detail-info table thead { background: rgba(119, 119, 119, .4); color: white; }
	.detail-info table th { font-weight: 600;  }
	.detail-info tr { border-bottom: 1px solid rgb(229, 229, 229); } .detail-info tr:last-child { border: none; }
	
	.detail-info p {
		font-family: 'Arial', sans-serif;
		text-align: justify;
		margin-bottom: 20px;
	}
	
	.add-to {
		display: block;
		float: left;
		width: 210px;
		margin: 0 20px 0px 0;
	}
		.add-to h3 {
			border-bottom: 1px solid rgba(102, 102, 102, 0.1);
			padding-bottom: 5px;
			padding-top: 5px;
			margin-bottom: 15px;
		}
		.add-to label {
			display: block;
			font-weight: 600;
			padding-bottom: 5px;
		}
		.add-to input[type="date"], .add-to input[type="number"] {
			font-family: 'Open Sans';
			font-weight: 300;
			font-size: 14px;
			color: rgb(153, 153, 153);
				
			padding: 5px;
			width: 200px;
			margin-bottom: 10px;
			background: white;
			border: 1px solid rgba(153, 153, 153, .4);
			outline: none;
		}
		.add-to button {
			background: rgba(119, 119, 119, .4);
			margin-top: 5px;
			padding: 8px 10px;
			border: none;
			font-weight: 300;
			font-size: 14px;
			display: block;
			color: rgb(255, 255, 255);
		}
			.add-to button:hover {
				background: rgb(247, 148, 29);
			}
	.tab-wrapper ul {
		list-style-type: none;
		display: inline-block;
		border-bottom: 1px solid rgba(102, 102, 102, 0.1);
	}
		.tab-wrapper ul li {
			float: left;
			font-size: 16px;
			font-weight: 300;
			width: 146px;
			text-align: center;
		}
		.tab-wrapper ul li a {
			padding: 5px 5px 5px 5px;
			display: block;
		}