/* ==========================================================================
   Header Styles - PŘIHLÁŠEN
   ========================================================================== */
ul.log li span { font-weight: 600; }


.side-nav {
	display: block;
	font-family: 'Open Sans';
	color: rgb(119, 119, 119);
	background: white;
	padding: 23px;
	margin-bottom: 30px;
							
	box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1);
	-webkit-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1);
	-moz-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1);
	-o-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1);
	-ms-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1);
}
	.side-nav h3 {
		font-weight: 600;
		font-size: 13px;
		text-transform: uppercase;
		padding-bottom: 10px;
			
		display: block;
		background: url(../img/long-line.png) left bottom no-repeat;
	}
	.nav {
		list-style-type: none;
		padding-top: 12px;
	}
		.nav li a {
			text-decoration: none;
			color: rgb(153, 153, 153);
			display: block; padding:8px 0px 8px 0px;
			margin: 2px 0px;
		}
		.nav li a:hover { text-decoration: underline; color: rgb(119, 119, 119); }
		.nav li.active { background: rgb(247, 148, 29); padding:0 8px 0 8px; }
		.nav li.active a { color: white; font-weight: 600; }
		.nav li.sub a { padding-left: 18px; }

.bread-nav { list-style-type: none; font-family: 'Open Sans'; color: rgb(134, 134, 134); font-weight: 300; margin-top: 10px;}
	.bread-nav li { display: inline-block; line-height: 16px;}
	.bread-nav li a { text-decoration: none; color: #bfbfbf; }
	.bread-nav li a:hover { text-decoration: underline; }
	.bread-nav li:after {
		font-family: 'icomoon';
		content: "\e66a";
		font-size: 14px;
		vertical-align: middle;
		color: #bfbfbf;
		padding: 0px 3px;
	}
	.bread-nav li:last-child:after {content: "";}
		
.list-of { list-style-type: none; padding: 20px 0px 0 0; clear: both; }
	.list-of li:nth-child(3n+2) { margin: 0 23px 25px 23px !important; }
	.list-of li {	
		display: inline-block !important;
		vertical-align: top !important;
		float: none !important;
		height: auto !important;
		zoom: 1;
		overflow: hidden;
		width: 205px;
	}
		.list-of li .img {
			background: white;
			height: 140px;
			width: 220px;
			box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1);
			-webkit-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1);
			-moz-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1);
			-o-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1);
			-ms-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1);
			}
		.list-of li p.price-l {
			position: absolute;
			padding: 5px;
			background: rgb(247, 148, 29);
			
			color: rgb(255, 255, 255);
			font-family: 'Open Sans';
			font-size: 12px;
			font-weight: 300;
		}
			.price-l span { font-size: 14px; font-weight: 600; }
	.list-of li a:hover .info { text-decoration: underline; }
.pagination {
	font-family: 'Open Sans';
	list-style-type: none;
	padding-top: 10px;
	display: block;
	background: url(../img/long-line.png) left top no-repeat; 
}
	.pagination li {
		display: inline-block;
		width: 25px;
		line-height: 25px;
		text-align: center;
		margin-right: 3px;
	}
	.pagination li a {
		display: block;
		background: white;
		color: rgb(167, 167, 167);
		text-decoration: none;
	}
		.pagination li a:hover { background: rgba(119, 119, 119, .6); color: white; }
		.pagination li.active a, .pagination li.active a:hover { background: rgb(247, 148, 29); color: white; font-weight: 600; }
		.pagination li:last-child a { background: rgb(119, 119, 119); color: white; }

.reservation-box {
	background: rgb(247, 148, 29);
	color:white;
	padding: 16px;
	font-family: 'Open Sans';
	font-size: 14px;
	font-weight: 300;
	margin-top: 20px;
}
	.items {
		border-bottom: 1px solid rgba(255, 255, 255, .3);
		padding-bottom: 10px;
		margin-bottom: 10px;
	}
		.items span {
			font-weight: 600;
		}
	.reservation-box a {
		color: white;
		text-decoration: none;
	}
	.reservation-box a:hover {
		text-decoration: underline;
	}
	
.souhrn {
	text-align: left!important;
}
	.souhrn td.bold {
		font-weight: 600;
		font-size: 14px;
	}

/* ==========================================================================
   KOŠÍK REZERVACE UPRAVY
   ========================================================================== */
.reservation-cart p {
	font-family: 'Open Sans'; margin: 20px 0px 0px 0px;
}
.reservation-cart input {
	font-family: 'Open Sans';
	font-weight: 300;
	border: 1px solid rgba(153, 153, 153, .4);
	outline: none;
	padding: 5px;
	color: rgb(153, 153, 153);
	width: 120px;
}
.reservation-cart table { width: 100%; text-align: center; margin: 20px 0; font-family: 'Open Sans';}
.reservation-cart table thead { background: rgb(247, 148, 29); color:white; }
.reservation-cart table thead th { font-weight: 600; font-family: 'Open Sans'; }
.reservation-cart table tr { border-bottom: 1px solid rgba(229, 229, 229, 1); }
.reservation-cart table td:first-child { color: rgb(119, 119, 119); }
.reservation-cart table td:first-child, .reservation-cart table th:first-child {text-align: left; width: 25%; padding: 10px 10px; font-weight: 600; }
.reservation-cart table td:nth-child(2), .reservation-cart table td:nth-child(3), .reservation-cart table td:nth-child(4) { width: 13%; }
.reservation-cart table td:nth-child(5), .reservation-cart table td:nth-child(6) { width: 15%; }

.reservation-cart a { color: rgb(153, 153, 153); text-decoration: none; }
.reservation-cart table a { font-size: 14px; }
.reservation-cart a:hover { color: rgb(119, 119, 119); text-decoration: underline; }
.reservation-cart a.edit:hover { color: rgb(0, 133, 56); }
.reservation-cart a.delete:hover { color: rgb(133, 0, 0); }

.total {
	display: inline-block;
	font-size: 14px;
	line-height: 27px;
	width: 220px;
	font-family: 'Open Sans';
	color: rgb(119, 119, 119);
	background: rgb(255, 255, 255);
	padding: 23px;
	box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1);
	-webkit-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1);
	-moz-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1);
	-o-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1);
	-ms-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1);
}
	.total span:nth-child(1), .total span:nth-child(3) { width: 120px; display: inline-block; }
	.total span:nth-child(2), .total span:nth-child(4) { width: 90px; display: inline-block; text-align: right; font-weight: 600; }

.reservation-cart button.button {
	font-family: 'Open Sans';
	padding: 8px;
	display: inline-block;
	background: rgb(247, 148, 29);
	color: rgb(255, 255, 255);
	text-decoration: none;
	float: right;
	border: none;
	outline: none;
}

/* ==========================================================================
   Static Styles - PŘIHLÁŠENÍ/REGISTRACE
   ========================================================================== */
p.log-reg { font-family: 'Open Sans'; margin: 20px 0px 0px 0px; }
.log-reg-form {
	width: 300px;
	margin: 20px 0;
}
	.log-reg-form input[type='email'], .log-reg-form input[type='password'], .log-reg-form input[type='text'] {
			font-family: 'Open Sans';
			font-weight: 300;
			font-size: 14px;
				
			padding: 8px;
			width: 282px;
			margin-top: -1px;
			background: rgb(255, 255, 255);
			border: 1px solid rgba(153, 153, 153, .4);
			outline: none;
	}
	.log-reg-form button, #registration button {
		background: rgba(153, 153, 153, .4);
		margin-top: 20px;
		padding: 8px 10px;
		border: none;
		font-family: 'Open Sans';
		font-weight: 300;
		font-size: 14px;
		float: right;
		display: block;
		color: white;
		}
	.log-reg-form button:hover { background: rgba(153, 153, 153, 1); }
	.log-reg-form button.reg { margin-top: 0!important; }
	a {
		color: rgb(119, 119, 119);
	}
	.log-reg-form label {
		display: inline-block;
		line-height: 36px;
		width: 40%;
	}
	.log-reg-form fieldset { margin: 10px 0px 15px 0px; }
	.log-reg-form select { width: 50%; }
	.log-reg-form legend {
		width: 100%;
		text-transform: uppercase;
		border-bottom: 1px solid rgba(102, 102, 102, 0.1);
		font-weight: 600;
		padding-bottom: 5px;
		margin-bottom: 15px;
	}
