@import url('icon-font.css');
/* reset */

*
{
	border: 0;
	box-sizing: content-box;
	color: inherit;
	font-family: inherit;
	font-size: inherit;
	font-style: inherit;
	font-weight: inherit;
	line-height: inherit;
	list-style: none;
	margin: 0;
	padding: 0;
	text-decoration: none;
	vertical-align: top;
}
.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

/* heading */

h1 { font: bold 100% sans-serif; letter-spacing: 0.3em; text-align: center; text-transform: uppercase; }

/* table */

table { font-size: 75%; width: 100%; }
table { border-collapse: collapse; border-spacing: 2px; }
th, td { border-width: 1px; padding: 10px; position: relative; text-align: left; }
th, td { border-style: solid; }
th { border-color: black; }

/* page */

html { font: 16px/1 'Open Sans', sans-serif; overflow: auto; padding: 0.5in; }
html { background: #999; cursor: default; }

body { box-sizing: border-box; height: 11in; margin: 0 auto; overflow: hidden; padding: 0.5in; width: 8.5in; }
body { background: #FFF; border-radius: 1px; box-shadow: 0 0 1in -0.25in rgba(0, 0, 0, 0.5); }

/* header */

header { margin: 0 0 2em; }
header:after { clear: both; content: ""; display: table; }

header h1 { background: #000; border-radius: 0.25em; color: #FFF; margin: 0 0 3em; padding: 0.5em 0; }
header address h1 { background: none; border-radius: none; color: black; margin: 0 0 0.2em; padding: 0.5em 0; text-align: left; font-size: 16px; }
header address { font-size: 16px; background: none; border-radius: none; color: black; margin: 0 0 1em; padding: 0; text-align: left; }
header address { float: left; font-size: 14px; font-style: normal; line-height: 1.25; margin: 0 0em 1em 0; }
header address p, article address p { margin: 0 0 0.25em; }
header span, header img { display: block; float: right; }
header address.recipient { display: block; float: right; }
span.logo { display: inline-block; float: left; text-indent: -9999px; background: url(../img/logo_mercator_sprite.png) no-repeat; background-size: 180px 100px; width: 180px; height: 50px; }
header span { margin: 0 0 1em 1em; max-height: 25%; max-width: 60%; position: relative; }
header img { max-height: 100%; max-width: 100%; }
header input { cursor: pointer; -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)"; height: 100%; left: 0; opacity: 0; position: absolute; top: 0; width: 100%; }

/* article */

article, article address, table.meta, table.inventory { margin: 0 0 3em; }
article:after { clear: both; content: ""; display: table; }
article h1 { text-align: left; margin-bottom: 10px; }

header address.recipient { font-size: 14px; font-weight: 600;; line-height: 19px; }
header address.recipient .contact { font-size: 13px; line-height: 17px; }

/* table meta & balance */

table.meta, table.balance { float: right; width: 36%; font-size: 13px; }
table.meta:after, table.balance:after { clear: both; content: ""; display: table; }

/* table meta */

table.meta th { width: 50%; }
table.meta td { width: 50%; font-weight: 700; }

/* table items */

table.inventory { clear: both; width: 100%; }
table.inventory th { font-weight: 700; text-align: right; font-size: 13px; }
table.inventory th:nth-child(1) { text-align: left; }

table.inventory td:nth-child(1) { width: 50%; }
table.inventory td:nth-child(2) { text-align: right; width: 16%; }
table.inventory td:nth-child(3) { text-align: right; width: 16%; }
table.inventory td:nth-child(4) { text-align: right; width: 16%; }
table.inventory td:nth-child(5) { text-align: right; width: 12%; }

/* table balance */

table.balance th, table.balance td { width: 50%; }
table.balance td { text-align: right; }
table.balance tr:last-of-type { font-size: 14px; font-weight: 700;}

/* aside */
aside { text-align: center; }
aside p {font-size: 12px; }
aside a:after { content: " | "; }
aside h1 { border: none; border-width: 0 0 1px; margin: 0 0 1em; }
aside h1 { border-color: #999; border-bottom-style: solid; }

@media print {
	* { -webkit-print-color-adjust: exact; }
	html { background: none; padding: 0; }
	body { box-shadow: none; margin: 0; }
	span:empty { display: none; }
	.add, .cut { display: none; }
	aside a.print { display: none; }
}

@page { margin: 0; }