@import url('icon-font.css');
@import url('eshop.css');
@import url('detail.css');
@import url(http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700&subset=latin-ext);
html,
button,
input,
select,
textarea {
    color: #222;
}

body {
	font-family: 'Open Sans';
    font-size: 13px;
    line-height: 1.4;
}

.container {
	margin: 0 auto 0 auto;
	position: relative;
	width: 960px;
	display: block;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

img {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}


/* ==========================================================================
   Header Styles
   ========================================================================== */
.left-up {
	z-index: 12;
	background: url(../img/left-up.png) no-repeat;
	height: 55px;
	overflow: hidden;
	position: absolute;
	top: 63px;
	width: 600px;
	left: -600px;
}
.right-down {
	z-index: 13;
	background: url(../img/right-down.png) no-repeat;
	height: 55px;
	overflow: hidden;
	position: absolute;
	bottom: 63px;
	width: 600px;
	right: -600px;
}

section.top {
	z-index: 10;
	position: relative;
	background: rgb(244, 244, 244);
	border-bottom: 1px solid rgb(230, 230, 230);

	color: rgb(167, 167, 167);
	font-size: 12px;
}
	p.call {
		line-height: 41px;
		display: inline;
	}
		p.call span { font-size: 13px; font-weight: 600; }
		p.call i { font-size: 15px; }
	ul.log {
		float: right;
		list-style-type: none;
		line-height: 41px;
	}
		ul.log li {
			display: inline-block;
			border-left: 1px solid rgb(230, 230, 230);
			line-height: 25px;
			padding-left: 15px;
		}
		ul.log li:first-child {
			border: none;
			padding-right: 15px;
			margin-right: -3px;
		}
		ul.log li a { color: rgb(167, 167, 167); text-decoration: none; }
		ul.log li a:hover { text-decoration: underline; }

section.logo-menu {
	z-index: 9;
	position: relative;
	height: 64px;
	background: white;
	
	box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.5);
	-webkit-box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.5);
	-moz-box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.5);
	-o-box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.5);
	-ms-box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.5);
}
	.logo-menu ul {
		list-style-type: none;
		font-size: 14px;
		font-weight: 600;
	}
		.logo-menu ul li {
			float: left;
			text-align: center;
			border-left: 1px solid rgb(230, 230, 230);
		}
		.logo-menu ul li.logo {
			width: 194px;
			border: none;
		}
			.logo-menu ul li.logo a {
				text-indent: -9999px;
				background: url(../img/logo_mercator_sprite.png) no-repeat;
				width: 194px;
				height: 50px;
				margin-top: 8px;
				background-size: 180px 100px;
				background-position: 0px 0px;
				
				transition: all ease .2s;
				-webkit-transition: all ease .2s;
				-moz-transition: all ease .2s;
				-o-transition: all ease .2s;
				-ms-transition: all ease .2s;
			}
			.logo-menu ul li.logo:hover a {
				background: url(../img/logo_mercator_sprite.png) no-repeat;			
				width: 194px;
				height: 50px;
				margin-top: 8px;
				background-size: 180px 100px;
				background-position: 0px -50px;
			}
		.logo-menu ul li.rental { background: url(../img/bg-rental-icon.png) right bottom no-repeat; }
		.logo-menu ul li a {
			color: rgb(102, 102, 102);
			text-decoration: none;
			display: block;
			width: 152px;
			line-height: 64px;
		}
		.logo-menu ul li a:hover { color: rgb(52, 170, 220); text-decoration: none; } .logo-menu ul li.rental a:hover { color:rgb(247, 148, 29); }
		.logo-menu ul li.active a { color: rgb(52, 170, 220); font-weight: 700; } .logo-menu ul li.rental.active a { color:rgb(247, 148, 29); }
		
section.slider {
	z-index: 5;
	position: relative;
	background: url(../img/slider_bg.png) center;
	height: 300px!important;
	margin: -5px 0px;
}	
	p.title {
		position: absolute;
		right: 0px;
		bottom: 20px;
		display: block;
		padding: 20px;
		color: rgb(255, 255, 255);
		font-family: 'Open Sans';
		font-size: 26px;
		font-weight: 300;
		text-transform: uppercase;
	}

section.search {
	z-index: 8;
	position: relative;
	height: 64px;
	background: white;
	
	box-shadow: 0px -1px 5px rgba(0, 0, 0, 0.5);
	-webkit-box-shadow: 0px -1px 5px rgba(0, 0, 0, 0.5);
	-moz-box-shadow: 0px -1px 5px rgba(0, 0, 0, 0.5);
	-o-box-shadow: 0px -1px 5px rgba(0, 0, 0, 0.5);
	-ms-box-shadow: 0px -1px 5px rgba(0, 0, 0, 0.5);
}
	.search form {
		display: inline;
		line-height: 64px;
	}
		.search input[type='text'] {
			font-family: 'Open Sans';
			font-weight: 300;
			
			padding: 8px 28px 8px 8px;
			width: 283px;
			background: rgb(244, 244, 244);
			border: none;
			outline: none;
			
			box-shadow: inset 0px 1px 2px rgba(0, 0, 0, 0.2);
			-webkit-box-shadow: inset 0px 1px 2px rgba(0, 0, 0, 0.2);
			-moz-box-shadow: inset 0px 1px 2px rgba(0, 0, 0, 0.2);
			-o-box-shadow: inset 0px 1px 2px rgba(0, 0, 0, 0.2);
			-ms-box-shadow: inset 0px 1px 2px rgba(0, 0, 0, 0.2);
		}
		::-webkit-input-placeholder { color: rgb(182, 182, 182); }
		::-moz-placeholder { color: rgb(182, 182, 182); } /* firefox 19+ */
		:-ms-input-placeholder { color: rgb(182, 182, 182); } /* ie */
		input:-moz-placeholder { color: rgb(182, 182, 182); }
		.search button {
			background: none;
			border: none;
			margin-left: -34px;
			font-size: 18px;
			color: rgb(153, 153, 153);
		}
	p.claim {
		float: right;
		text-transform: uppercase;
		font-size: 15px;
		font-weight: 600;
		line-height: 64px;
		color: rgb(119, 119, 119);
	}

/* ==========================================================================
   Content Styles HOMEPAGE
   ========================================================================== */
section.grey-content {
	color: rgb(153, 153, 153);
	font-family: Arial;
	font-size: 13px;
	line-height: 18px;
	
	z-index: 11;
	position: relative;
	background: rgb(244, 244, 244);
	border-top: 1px solid rgb(230, 230, 230);
	border-bottom: 1px solid rgb(230, 230, 230);
}
section.white-content {
	color: rgb(153, 153, 153);
	font-family: 'Open Sans';
	font-size: 13px;
}
section.works {
	background: url(../img/works-bg.png) center no-repeat;
}

	section.left, section.right, section.full { padding: 30px 0px 30px 0px; min-height: 200px; }
	section.left { width: 670px; float: left; }
	section.right { width: 230px; float: right; }
		.left h2, .right h2, .full h2 {
			font-family: 'Open Sans';
			font-weight: 300;
			font-size: 18px;
			padding-bottom: 10px;
			
			display: block;
			background: url(../img/long-line.png) left bottom no-repeat;
		}
		
		/*  STYLY PRO CLANEK
		*/
		.article p, .article ul {
			margin-bottom: 10px;
		}
		.article h3, .article h4, .article h5, .article h6 {
			font-family: 'Open Sans';
			font-weight: 400;
			color: rgb(119, 119, 119);
			margin-bottom: 3px;
		}
			.article h3 {font-size: 17px;} .article h4 {font-size: 16px;} .article h5 {font-size: 15px;} .article h6 {font-size: 14px;}
		.article a { text-decoration: underline; color: rgb(119,119,119); }
		.article a:hover { text-decoration: underline; color: rgb(52, 170, 220); }
		
		.article .tab-wrapper { padding-top: 10px; }
		.article .tab-wrapper ul.tabs {
			list-style-type: none;
			display: table;
			background: rgba(102, 102, 102, 0.1);
			margin-bottom: 12px;
			width: 100%;
		}
			.article .tab-wrapper ul.tabs li {
				font-family: 'Open Sans';
				font-weight: 400;
				float: none;
				display: table-cell;
				text-align: center;
				width: auto;
				font-size: 13px;
			}
			.article .tab-wrapper ul.tabs li:before { content: ""; padding: 0px; }
			.article .tab-wrapper ul.tabs li a.active {
				background: rgb(52, 170, 220);
				color: rgb(255, 255, 255);
			}
		
			article {
				padding: 20px 0px;
				border-bottom: 1px solid rgba(102, 102, 102, .1);
				clear: both;
			}
			article:last-of-type { border: none; padding-bottom: 0px;}
			img { 
				float:left;
				margin: 0px 9px 9px 0px;
				display: block;
			}
			h1 a {
				font-family: 'Open Sans';
				font-size: 17px;
				font-weight: 600;
				color: rgb(119, 119, 119);
				text-decoration: none;
				
				padding-bottom: 10px;
				display: block;
			}
			h1 a:hover { text-decoration: underline; }
			article > span, span.date {
				font-family: 'Open Sans';
				font-weight: 700;
				color: rgb(195, 195, 195);
				
				padding-bottom: 5px;
				display: block;
			}
			/* adress 
			   style  */
			article.adress {
				font-family: 'Open Sans';
				color: rgb(119, 119, 119);
				font-size: 14px;
				line-height: 18px;
			}
			article.adress > span {
				font-size: 16px;
				font-weight: 400;
				color: rgb(119, 119, 119);
				margin-bottom: 5px;
			}
			/* blue-box 
			   style  */
			ul.blue-box {
				list-style-type: none;
				background: rgb(52, 170, 220);
				color: white;
				
				font-family: 'Open Sans';
				font-size: 14px;
				font-weight: 600;
				line-height: 30px;
				padding: 12px;
				margin: 30px 0px;
			}
			.blue-box i { font-size: 16px; }
			.blue-box li a { color: white; text-decoration: none; }
			.blue-box li a:hover { text-decoration: underline; }
			/* rental button 
			   style  */
			a.rental-butt {
				display: block;
				color: rgb(119, 119, 119);
				text-decoration: none;
				font-size: 15px;
				font-weight: 600;
				text-transform: uppercase;
				text-align: center;
				
				background: url(../img/bg-rental-butt.png) left bottom no-repeat, white;
				padding: 36px 0px;
				
				
				box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1);
				-webkit-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1);
				-moz-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1);
				-o-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1);
				-ms-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1);
			}
			a.rental-butt:hover { text-decoration: underline; }
			a.rental-butt > i { font-size: 18px; }
			
			.nav li.active.default { background: rgb(52, 170, 220); padding:0 8px 0 8px; }
			
/* works 
			   style  */
p.category {
	position: absolute;
	right: 0;
	padding: 5px;
	background: rgb(52, 170, 220);
	
	color: rgb(255, 255, 255);
	font-family: 'Open Sans';
	font-size: 12px;
	font-weight: 300;
	text-transform: uppercase;
}
p.price {
	position: absolute;
	right: 0;
	padding: 5px;
	background: rgb(52, 170, 220);
	
	color: rgb(255, 255, 255);
	font-family: 'Open Sans';
	font-size: 12px;
	font-weight: 300;
}
	.price span { font-size: 14px; font-weight: 600; }
p.info {
	font-size: 14px;
	line-height: 16px;
	font-weight: 600;
	color: rgb(119, 119, 119);
	display: inline-block;
}
	span.cat {
		font-family: 'Open Sans';
		display: block;
		font-size: 13px;
		font-weight: 300;
		color: rgb(153, 153, 153);
		margin-bottom: 5px;
		text-decoration: none;
	}
	p.info { font-family: 'Open Sans'; }
.rental ul li a:hover p.info { text-decoration: underline; }

/* footer 
			   style  */
footer {
	padding: 25px 0px 10px 0px;
	font-family: 'Open Sans';
	font-size: 13px;
	font-weight: 300;
	color: rgb(137, 137, 137);
}
	p.left {
		float: left;
	}
	p.left a { color: rgb(137, 137, 137); }
	footer ul.right {
		list-style-type: none;
		float: right;
	}
		footer ul li {
			display: inline-block;
			border-right: 1px solid rgb(137, 137, 137);
			margin: -1px;
			padding: 0px 8px;
			line-height: 13px;
		}
		footer ul li:last-of-type { border: none; }
		footer ul li i { font-size: 15px; }
		footer ul li a {
			color: rgb(137, 137, 137);
			text-decoration: none;
		}
		footer ul li a:hover { text-decoration: underline; }







/* ==========================================================================
   Helper classes
   ========================================================================== */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}