/Users/tomasnahlovsky 1/Desktop/mercator_template/css
/Users/tomasnahlovsky 1/Desktop/mercator_template/eshop.html
/Users/tomasnahlovsky 1/Desktop/mercator_template/favicon.ico
/Users/tomasnahlovsky 1/Desktop/mercator_template/homepage.html
/Users/tomasnahlovsky 1/Desktop/mercator_template/img
/Users/tomasnahlovsky 1/Desktop/mercator_template/js
/Users/tomasnahlovsky 1/Desktop/mercator_template/logo_mercator.jpg
/Users/tomasnahlovsky 1/Desktop/mercator_template/mercator_template
/Users/tomasnahlovsky 1/Desktop/mercator_template/storage